<div class="container">
    <app-header></app-header>
</div>
<div class="otpVerify">
    <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h1>OTP Verification</h1>
                <h6>A 6-digit OTP verification code has been sent to your mobile. Enter to verify details</h6>
                <form>
                    
                    <input type="text" class="input-box">
                    <input type="text" class="input-box">
                    <input type="text" class="input-box">
                    <input type="text" class="input-box">
                    <input type="text" class="input-box">
                    <input type="text" class="input-box">
                    <span>0.40 sec</span>
                    <span style="margin-left: 190px; color: #1977F3;">Resend OTP</span>
                    
                        
                    <a routerLink="/login"><button type="submit" class="submit-btn">Confirm</button></a>
                </form>

            </div>
            
        </div>
       
    </div>
</div>
